/* ================= */
/*     style.css     */
/* ================= */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: hsl(263, 6%, 75%);
  --secondary-color: hsl(195, 46%, 28%);
  --background-color: hsl(300, 20%, 98%);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ~~~~~~~~ */
/* Elements */
/* ~~~~~~~~ */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  /* border-radius: 8px; */
  border: 1px solid transparent;
  min-width: 3rem;
  min-height: 3rem;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ~~~~~~~~~~ */
/* Components */
/* ~~~~~~~~~~ */

#up-button {
  grid-column: 2;
  grid-row: 1;
}

#left-button {
  grid-column: 1;
  grid-row: 2;
}

#right-button {
  grid-column: 3;
  grid-row: 2;
}

#down-button {
  grid-column: 2;
  grid-row: 3;
}

/* Component Classes */

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.controls {
  justify-content: space-between;
}

.direction-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;

  background-color: var(--primary-color);
}

.direction-buttons > button {
  background-color: var(--secondary-color);
  max-width: 5rem;
  aspect-ratio: 1;
}

.frame {
  /* border: 1px dashed black; */
  background-color: var(--primary-color);

  min-height: 300px;
  min-width: 700px;
}

.main-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-buttons > button {
  min-width: 16rem;
}

.sub-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.side-buttons {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.top-section {
  padding-bottom: 1rem;
}


/* Utility Classes */

.flex {
  display: flex;
}

.square {
  aspect-ratio: 1;
}

/* ~~~~~~~~~~~~~ */
/* Media Queries */
/* ~~~~~~~~~~~~~ */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
