/* ================= */
/*     style.css     */
/* ================= */

@import 'reset.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: hsl(263, 6%, 75%);
  --secondary-color: hsl(195, 46%, 28%);
  /* --background-color: hsl(300, 20%, 98%); */
  --transparent-color: hsla(0, 0%, 0%, 0%);
  
  --background-size: 64px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ~~~~~~~~ */
/* Elements */
/* ~~~~~~~~ */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-image: url('/ui/tilex2.png');
  background-size: var(--background-size);
  animation: movingBackground 1s linear infinite;
}
@keyframes movingBackground {
  from { background-position: 0 0;}
  to {background-position: var(--background-size) var(--background-size);}
}

button {
 margin: 0;
 padding: 0;
 background-color: var(--transparent-color);
 border-color: var(--transparent-color);
 border-width: 0px;
}
button:hover {

}

/* ~~~~~~~~~~ */
/* Components */
/* ~~~~~~~~~~ */

/* #up-button {
  grid-column: 2;
  grid-row: 1;
}

#left-button {
  grid-column: 1;
  grid-row: 2;
}

#right-button {
  grid-column: 3;
  grid-row: 2;
}

#down-button {
  grid-column: 2;
  grid-row: 3;
} */

/* Component Classes */

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.controls {
  justify-content: space-between;
  align-items: flex-start;
}

.position-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: url('/ui/position/position-framex2.png');
  box-shadow: 0px 5px hsla(0, 0%, 0%, 30%);
}

.position-buttons {
  display: flex;
  padding: 36px 10px 0px 10px;
  gap: 12px;

  /* gap: 5px; */
}

/* .position-buttons > button {
  max-width: 5rem;
} */

.right > img {
  transform: scale(-1);
}

.frame {
  background-color: var(--primary-color);
  
  height: 300px;
  min-width: 900px;
  margin-bottom: 1rem;
}

.pose-buttons {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-image: url('/ui/pose/pose-framex2.png');
  padding: 22px 8px 8px 8px;
  gap: 2px;
  box-shadow: 0px 5px hsla(0, 0%, 0%, 30%);

}

.pose-buttons > button {
  min-width: 100px;
  min-height: 34px;
}

.pose-buttons > button:active > img {
  content: url('/ui/pose/pose-button-pressedx2.png');
}

.expression-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px;
  background: url('/ui/expressions/expression-framex2.png');
  padding: 22px 8px 8px 8px;
  box-shadow: 0px 5px hsla(0, 0%, 0%, 30%);
}

.expression-buttons > button:active > img {
  content: url('/ui/expressions/exp-pressedx2.png');
}

.entry-buttons {
  display: flex;
  gap: 6px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}

.entry-buttons > button.enter:active > img {
  content: url('/ui/position/position-enter-pressedx2.png');
}

.entry-buttons > button.exit:active > img {
  content: url('/ui/position/position-exit-pressedx2.png');
}

button.left:active > img {
  content: url('/ui/position/position-slide-button-pressedx2.png');
}

button.center:active > img {
  content: url('/ui/position/position-button-pressedx2.png');
}

button.right:active > img {
  content: url('/ui/position/position-slide-button-pressedx2.png');
}


/* Utility Classes */

.flex {
  display: flex;
}

.square {
  aspect-ratio: 1;
}

/* ~~~~~~~~~~~~~ */
/* Media Queries */
/* ~~~~~~~~~~~~~ */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
